$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.navbar{
	border-radius: 0;
	
	.navbar-brand {
		color: #00d8ff;
	}
}

@media (min-width: 768px) {
	.navbar {
		.navbar-nav>li>a {
				border-bottom: 3px solid rgb(34, 34, 34);
				padding-bottom: 12px;
		}
		.navbar-nav>.active>a {
			border-bottom: 3px solid #090909;
			padding-bottom: 12px;
		}
		.navbar-nav>.active>a, .navbar-nav>li>a {
			&:hover {
				border-bottom: 3px solid #cc7a6f;
			}
		}
	}
}